# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
.venv/
env/
venv/

# Output / build klasörleri
outputs/

# IDE / editor dosyaları
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
